Django==4.2.3
gunicorn==26.0.0
psycopg2-binary==2.9.12
markdown==3.10.2
django-filter==25.1
django-cors-headers==4.9.0
pillow==12.2.0
python-dateutil==2.9.0.post0
django-dbbackup==4.2.1
django-ninja==1.6.2
python-decouple==3.8
django-q2==1.10.0
django-jazzmin==3.0.4
django-import-export==4.4.1
arrow==1.4.0
pytz==2026.2
django-redis==6.0.0
pytest==9.0.3
pytest-django==4.12.0
django-model-utils==5.0.0
pytest-mock==3.15.1
